<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewApp">

        <activity
            android:name=".RelativeLayout"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".FragClass"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"
            />
        <activity
            android:name=".LIstDetails"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"
            />
        <activity
            android:name=".UserName"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity2"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NewApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>